#field_3_83 .ginput_container.ginput_container_list.ginput_list .gfield_list.gfield_list_container thead,
#field_3_85 .ginput_container.ginput_container_list.ginput_list .gfield_list.gfield_list_container thead  {
  display:none;
}

.gform_wrapper ul.gform_fields.form_sublabel_above table.gfield_list td::before, 
.gform_wrapper ul.gform_fields.form_sublabel_below table.gfield_list td::before {
  content: attr(data-label);
  font-size: 14px;
  letter-spacing: .5pt;
  white-space: nowrap;
  display: block;
  clear: both;
}

.gfield_list_cell.gfield_list_83_cell1, .gfield_list_cell.gfield_list_83_cell2, .gfield_list_cell.gfield_list_83_cell3, .gfield_list_cell.gfield_list_83_cell4,
.gfield_list_cell.gfield_list_85_cell1, .gfield_list_cell.gfield_list_85_cell2, .gfield_list_cell.gfield_list_85_cell3, .gfield_list_cell.gfield_list_85_cell4 {
    display: block;
    float: left;
}


.gfield_list_cell.gfield_list_83_cell1, .gfield_list_cell.gfield_list_83_cell2, .gfield_list_cell.gfield_list_83_cell3, .gfield_list_cell.gfield_list_83_cell4,
.gfield_list_cell.gfield_list_85_cell1, .gfield_list_cell.gfield_list_85_cell2, .gfield_list_cell.gfield_list_85_cell3, .gfield_list_cell.gfield_list_85_cell4 {
    width: 50%;
    padding: 5px;
}

.gform_wrapper table.gfield_list td, .gform_wrapper table.gfield_list th {
    padding: 0 0 0 0px !important;
    padding-right: 9px !important;
}

.gfield_list_cell.gfield_list_83_cell1, .gfield_list_cell.gfield_list_83_cell2,
.gfield_list_cell.gfield_list_85_cell1, .gfield_list_cell.gfield_list_85_cell2 {
    margin-top: 20px !important;
    border-top: 1px solid lightgray !important;
}

.gfield_list_cell.gfield_list_83_cell3, .gfield_list_cell.gfield_list_83_cell4,
.gfield_list_cell.gfield_list_85_cell3, .gfield_list_cell.gfield_list_85_cell4 {
    margin-bottom: 20px !important;
}